// Dark theme colors
$color-primary: #FF751F;
$color-secondary: #883d0c;
$color-white: #f1f2f6;
$color-light: #c9d1da;
$color-grey: #747f93;
$color-dark: #1b1815;
$color-black: #161312;

// Font families
$font-accent: "Yeseva One", Georgia, serif;
$font-normal: "Josefin Sans", "Trebuchet MS", sans-serif;

// Defaults
$default-line-height: 1.6;
$default-font-size: 62.5%;

// Text sizes
$text-regular: 1.6rem;

// Spacing
$col-gap: 2.5rem;