.header {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-black, 0.85),
        rgba($color-dark, 0.85)),
    url("../assets/hero-image.jpg");
    background-size: cover;
    background-position: top;
    height: 100vh;

    &__nav { 
        display: flex;
        justify-content: space-between;
        padding: 2.5rem 5vw;

        &--brand {
            display: flex;
            align-items: center;

            animation: fadeInZoom 1.5s ease-in;

            & img {
                width: 7.5rem;
                -webkit-width: 7.5rem; /* Added vendor prefix for width */
            }
        }

        &--menu {
            &.active {
                transform: translateX(0);
                -webkit-transform: translateX(0); /* Added vendor prefix for transform */
            }
            
            transition: all .3s ease-in; /* For enabling smooth transforms */
            -webkit-transition: all .3s ease-in; /* Added vendor prefix for transition */
            transform: translateX(-200%); /* By default hidden */
            -webkit-transform: translateX(-200%); /* Added vendor prefix for transform */

            position: absolute;
            top: 0;
            left: 0;

            z-index: 99;

            background-image: linear-gradient(to right bottom, $color-primary, $color-secondary);
            width: 100%;
            height: 100vh;

            display: flex;
            flex-direction: column;
            gap: 2.5rem;
            align-items: center;
            justify-content: center;

            & li {
                & a {
                    color: $color-light;
                    -webkit-color: $color-light; /* Added vendor prefix for color */

                    &:hover {
                        color: $color-white;
                        -webkit-color: $color-white; /* Added vendor prefix for color */
                    }
                }
            }
        }
    }

    &__hero {
        height: 50vh;
        text-align: center;
        padding: 0 5vw;

        display: flex;
        gap: 1rem;
        flex-direction: column;
        align-items: center;
        transform: translateY(50%);
        -webkit-transform: translateY(50%); /* Added vendor prefix for transform */

        &--title {
            line-height: 1.2;
            animation: moveInLeft .8s ease-in;
        }

        &--tagline {
            margin-bottom: 2.5rem;
            animation: moveInRight .8s ease-in;
        }

        &--btn-group {
            animation: moveInBottom .8s ease-in;
        }
    }
}
