@keyframes moveInRight {
    0% {
        transform: translateX(-10rem);
        opacity: 0;
    }

    75% {
        transform: translateX(2.5rem);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveInLeft {
    0% {
        transform: translateX(10rem);
        opacity: 0;
    }

    75% {
        transform: translateX(-2.5rem);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveInBottom {
    0% {
        transform: translateY(10rem);
        opacity: 0;
    }

    75% {
        transform: translateY(-2.5rem);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInZoom {
    0% {
        opacity: 0;
        transform: scale(1.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}