*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: $default-font-size;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: $font-normal;
    font-size: $text-regular;
    line-height: $default-line-height;
    background-color: $color-black;
    color: $color-white;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button, input, textarea {
    font-family: inherit;
    border: none;
}

.toggle-btn {
    position: relative; /* To get z-index property applied */
    z-index: 999;
    background: $color-light;
    padding: 1.5rem 1.25rem;
    border-radius: 50%;

    animation: fadeIn 2s ease-in;

    &:hover {
        background-color: $color-white;
        cursor: pointer;
    }

    &-bar {
        display: block;
        height: .3rem;
        width: 2.5rem;
        background-color: $color-dark;     
        transition: all .3s ease-in;
        
        &:not(:last-child) {
            margin-bottom: .4rem;
        }
    }

    &-bar-1.active {
        transform: rotate(45deg) translate(5px, 5px);
    }

    &-bar-2.active {
        opacity: 0;
    }

    &-bar-3.active {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}

.btn-group {
    display: flex;
    gap: 2.5rem;
}