.container {
    max-width: 120rem;
    margin: 0 auto;
}

// Text utilities
.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

// Text sizes
.heading-primary {
    font-size: 5rem;
}

// Color utilities
.color-primary {
    color: $color-primary;
}