.container {
    max-width: 120rem;
    margin: 0 auto;
}

// Text utilities
.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

// Text sizes
.heading-primary {
    font-size: 5rem;
}

// Color utilities
.color-primary {
    color: $color-primary;
}

.color-secondary {
    color: $color-secondary;
}

// Link utilities
.link {
    &-primary {
        color: $color-primary;

        &:hover {
            color: lighten($color-primary, 5%);
        }
    }

    &-secondary {
        color: $color-secondary;

        &:hover {
            color: lighten($color-secondary, 5%);
        }
    }
}